<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head('게시판')">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
</nav>

<div class="container">
    <h1>게시판</h1>
    <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" id="title" th:field="*{title}"
        th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            제목 에러 메시지
        </div>
        </input>
    </div>
    <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"
            th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            내용 에러 메시지
        </div>
    </div>
    <div class="text-end">
        <a type="button" class="btn btn-primary" th:href="@{/board/list}">취소</a>
        <button type="submit" class="btn btn-primary">확인</button>
    </div>
    </form>
</div>

<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>