<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script type="text/javaScript" th:src="@{/js/decade_new.js}"></script>
    <script th:inline="javascript">
        var startYear =[[${#dates.year(startDate)}]];
    </script>

</head>
<body>
<!-- Main Container -->
<div class="main-container">
    <div class="left-container main-item">
        <!-- Edit Button Container -->
        <div class="edit-btn-container left-item">
            <button class="btn btn-primary">Day</button>
            <button class="btn btn-primary" id="desire-add-btn">목표 추가</button>
        </div>
        <!-- Desire Container -->
        <div class="desire-container left-item">
            <th:block th:each="dto : ${decadeNewDTOs}">
                <div class="desire-item">
                    <div class="card">
                        <div class="card-header">
                            <span th:text="${dto.desireDTO.title}">Desire</span>
                        </div>
                        <div class="card-body">
                            <div class="card-item">
                            <a href="#" class="btn btn-primary "
                               th:href="@{/schedule/desire/desireForm(id=${dto.desireDTO.id})}">수정</a>
                            <button class="desire-delete-btn btn btn-primary" th:value="${dto.desireDTO.id}">삭제</button>
                            <button class="job-add-btn btn btn-primary" th:value="${dto.desireDTO.id}">할일 추가</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="left-item">
            <a class="btn btn-primary" th:href="@{/schedules/decade}">D</a>
            <a class="btn btn-primary" th:href="@{/schedules/year}">Y</a>
            <a class="btn btn-primary" th:href="@{/schedules/month}">M</a>
            <a class="btn btn-primary" th:href="@{/schedules/week}">W</a>
            <a class="btn btn-primary" th:href="@{/schedules/day}">D</a>
        </div>
    </div>
    <!-- Job Container -->
    <div class="job-container main-item">
        <!-- Job Navigation Container -->
        <div class="job-nav-container job-item" style="height=200px;">
            <div class="job-nav-item">
                <button id="decade-left-arrow"> <</button>
            </div>
            <th:block th:each="i : ${#numbers.sequence(0, 4)}"
                      th:with="startYear=${#dates.year(startDate)}">
                <div class="job-nav-item">
                    <p th:text="${startYear + 10 * i}"></p>
                    <p> ~ </p>
                    <p th:text="${startYear + 10 * (i + 1) - 1}"></p>
                </div>
            </th:block>
            <div class="job-nav-item">
                <button id="decade-right-arrow"> ></button>
            </div>
        </div>
        <!-- Job Content Container -->
        <div class="job-content-container job-item">
            <th:block th:each="dto : ${decadeNewDTOs}">
                <div class="row row-container job-content-item">
                    <div class="col-md-1 row-item">
                        <p></p>
                    </div>
                    <th:block th:each="decadeJob :${dto.decadeDTOsSortByTime}">
                        <div class="col-md-1 row-item">
                            <div class="card">
                                <div class="card-header">
                                    <span th:text="${decadeJob.title}">DECADE JOB</span>
                                </div>
                                <div th:if="${decadeJob.title != null}" class="card-body">
                                    <a href="#" class="btn btn-primary card-item"
                                       th:href="@{/schedule/decade_new/jobForm(desireId=${dto.desireDTO.id}, jobId=${decadeJob.id})}">수정</a>
                                    <button class="decade-job-delete-btn btn btn-primary" th:value="${decadeJob.id}">삭제</button>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="col-md-1 row-item">
                        <p></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
