<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<body>
<form class="form-container" action="/decades/form" th:action="@{/decades/form}" th:object="${decadeJobDTO}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{desireId}"/>
    <div>
        <p>목표 : <span class="header-font" th:text="${desireDTO.title}">목표 이름</span></p>
    </div>
    <div class="form-group form-item">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" th:field="*{title}">
        <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            제목 에러 메시지
        </div>
    </div>
    <div class="form-group form-item">
        <label for="from-date">시작 날짜</label>
        <input type="date" class="form-control" id="from-date" th:field="*{fromTime}"/>
        <div class="text-danger" th:if="${#fields.hasErrors('fromTime')}" th:errors="*{fromTime}">
            시작 시간 에러 메시지
        </div>
    </div>
    <div class="form-group form-item">
        <label for="to-date">종료 날짜</label>
        <input type="date" class="form-control" id="to-date" th:field="*{toTime}"/>
        <div class="text-danger" th:if="${#fields.hasErrors('toTime')}" th:errors="*{toTime}">
            마감 시간 에러 메시지
        </div>
    </div>
    <div class="form-group form-item">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" rows="5" th:field="*{content}"></textarea>
        <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            내용 에러 메시지
        </div>
    </div>
    <div class="form-group form-item" style="display: flex; justify-content: flex-end;">
        <a type="button" class="btn indigo-btn" style="margin-right: 10px;" th:href="@{/decades/page}">취소</a>
        <button type="submit" class="btn indigo-btn">확인</button>
    </div>
</form>
</body>
