<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <!--    <link rel="stylesheet" type="text/css" href="schedule.css" th:href="@{/css/schedule.css}"/>-->
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--            crossorigin="anonymous"></script>-->

</head>
<body>
<!-- Main Conatiner -->
<div class="main-container">
    <!-- Desire Container -->
    <div class="desire-container main-item">
        <th:block th:each="dto : ${decadeNewDTOs}">
            <div class="col-md-1 desire-item">
                <div class="card">
                    <div class="card-header">
                        <span th:text="${dto.desireDTO.title}">Desire</span>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary">Remove</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <!-- Job Container -->
    <div class="job-container main-item">
        <!-- Job Navigation Container -->
        <div class="job-nav-container job-item">
            <div class="row job-nav-item">
                <button id="decade-left-arrow"> <</button>
            </div>
            <th:block th:each="i : ${#numbers.sequence(0, 4)}"
                      th:with="startYear=${#dates.year(startDate)}">
                <div class="row job-nav-item">
                    <p th:text="${startYear + 10 * i}"></p>
                    <p> ~ </p>
                    <p th:text="${startYear + 10 * (i + 1) - 1}"></p>
                </div>
            </th:block>
            <div class="row job-nav-item">
                <button id="decade-right-arrow"> ></button>
            </div>
        </div>
        <!-- Job Content Container -->
        <div class="job-content-container job-item">
            <th:block th:each="dto : ${decadeNewDTOs}">
                <div class="row row-container job-content-item">
                    <div class="col-md-1 row-item">
                        <p></p>
                    </div>
                    <th:block th:each="decadeJob :${dto.decadeDTOsSortByTime}">
                        <div class="col-md-1 row-item">
                            <div class="card">
                                <div class="card-header">
                                    <span th:text="${decadeJob.title}">DECADE JOB</span>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-primary">Remove</a>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <div class="col-md-1 row-item">
                        <p></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>
</body>
<script type="text/javaScript" th:src="@{/js/decade_new.js}"></script>
<script th:inline="javascript">
    var startYear =[[${#dates.year(startDate)}]];
</script>