<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<body>
<form action="/schedule/decade_new/desireForm" th:action="@{/schedule/decade_new/desireForm}" th:object="${desireDTO}"
      method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{sortNum}"/>
    <div class="form-group">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" th:field="*{title}">
    </div>
    <div class="form-group">
        <label for="from-date">시작 날짜</label>
        <input type="date" class="form-control" id="from-date" th:field="*{fromTime}"/>
    </div>
    <div class="form-group">
        <label for="to-date">종료 날짜</label>
        <input type="date" class="form-control" id="to-date" th:field="*{toTime}"/>
    </div>
    <div class="form-group">
        <label for="content">내용</label>
        <textarea class="form-control" id="content" rows="5" th:field="*{content}"></textarea>
    </div>
    <div class="form-group">
        <a type="button" class="btn btn-primary" th:href="@{/schedule/decade_new}">취소</a>
        <button type="submit" class="btn btn-primary">확인</button>
    </div>
</form>
</body>
