<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    <script type="text/javaScript" th:src="@{/js/month_page.js}"></script>
    <script th:inline="javascript">
        var startYear = [[${startYear}]];
        var startMonth = [[${startMonth}]];
    </script>
</head>
<body>
<div class="header-container fullscreen">
    <div class="login-btn-container header-item">
        <div class="login-btn-item-front">
            <a class="btn indigo-btn" th:href="@{/decades/page}">10Y</a>
            <a class="btn indigo-btn" th:href="@{/years/page}">1Y</a>
            <a class="btn indigo-btn" th:href="@{/months/page}">1M</a>
        </div>
        <span class="header-font">Hi,&nbsp;</span><span class="login-btn-item text-white mx-2 header-font" style="margin-right: 15px;" sec:authentication="name">사용자</span>
        <form class="login-btn-item form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()"
              th:action="@{/logout}" method="POST">
            <button class="btn indigo-btn my-2 my-sm-0" type="submit">로그아웃</button>
        </form>
    </div>
    <!-- Main Container -->
    <div class="main-container">
        <div class="left-container main-item">
            <!-- Edit Button Container -->
            <div class="edit-btn-container left-item">
                <p class="edit-btn-item header-font"> 1 Month Plans </p>
                <button class="edit-btn-item desire-add-btn btn indigo-btn">목표 추가</button>
            </div>
            <!-- Desire Container -->
            <div class="desire-container left-item">
                <th:block th:each="dto : ${monthPageDTOs}">
                    <div class="desire-item">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${dto.desire.title}">Desire</span>
                            </div>
                            <div class="card-body">
                                <div class="card-item">
                                    <a href="#" class="btn indigo-small-btn"
                                       th:href="@{/desires/form/2(id=${dto.desire.id})}">수정</a>
                                    <button class="desire-delete-btn btn indigo-small-btn" th:value="${dto.desire.id}">삭제
                                    </button>
                                    <button class="month-add-btn btn indigo-small-btn" th:value="${dto.desire.id}">할일 추가
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <!-- Job Container -->
        <div class="job-container main-item">
            <!-- Job Navigation Container -->
            <div class="job-nav-container job-item" style="height=200px;">
                <div class="move-arrow-div">
                    <button class="month-left-arrow move-arrow btn indigo-btn"><</button>
                </div>
                <th:block th:each="timeHeader : ${timeHeaders}">
                    <div class="job-nav-item header-font">
                        <p th:text="${timeHeader}"></p>
                    </div>
                </th:block>
                <div class="move-arrow-div">
                    <button class="month-right-arrow move-arrow btn indigo-btn">></button>
                </div>
            </div>
            <!-- Job Content Container -->
            <div class="job-content-container job-item">
                <th:block th:each="dto : ${monthPageDTOs}">
                    <div class="row row-container job-content-item">
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                        <th:block th:each="month :${dto.months}">
                            <div class="row-item" th:classappend="${month.title != null} ? cell-exist">
                                <div class="card">
                                    <div class="card-header">
                                        <span th:text="${month.title}">MONTH JOB</span>
                                    </div>
                                    <div th:if="${month.title != null}" class="card-body">
                                        <a href="#" class="btn indigo-small-btn card-item"
                                           th:href="@{/months/form(desireId=${dto.desire.id}, jobId=${month.id})}">수정</a>
                                        <button class="month-delete-btn btn indigo-small-btn" th:value="${month.id}">삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
