<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="schedule.css" th:href="@{/css/schedule.css}"/>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div id="left-nav-header" class="sidbar-header" style="background-color: #FF1111">
                <span>Year</span>
            </div>
            <th:block th:each="yearJob : ${yearJobs}">
                <div th:id="'left-nav-row-' + ${yearJob.id}" style="border: 1px solid black">
                    <span>Year named </span><span th:text="${yearJob.title}"></span>
                </div>
            </th:block>
        </nav>
        <div id="schedule-content" class="container">
            <div id="time-navigator-row" class="row" style="height: 10vh">
                <div class="col-sm-1" style="background-color:#BBF9F6">
                    <button type="button" id="sidebarCollapse">
                        <span> T
                        </span>
                    </button>
                    <button type="button" id="leftMoveDecade">
                        <span>
                            < </span>
                    </button>
                </div>
                <th:block th:each="time_sequence : ${#numbers.sequence(1, 5)}">
                    <div class="col-sm-2" style="background-color:#42F26B">
                        <span th:text="${2000 + (time_sequence - 1) * 10}"></span><span>s</span>
                    </div>
                </th:block>
                <div class="col-sm-1" style="background-color:#D5F9F6">
                    <button type="button" id="rightMoveDecade">
                        <span> > </span>
                    </button>
                </div>
            </div>
            <div id="job-rows">
                <th:block th:each="yearJob : ${yearJobs}">
                    <div th:id="'content-row-' + ${yearJob.id}" class="row" style="height: 10vh;background-color: #3355dd">
                        <div class="col-sm-1" style="background-color:#aaaaaa"></div>
                        <th:block th:each="monthJob: ${yearJob.monthJobs}">
                            <div class="col-sm-2" style="background-color:#bbbbbb">
                                <span th:text="${monthJob.title}"></span>
                            </div>
                        </th:block>
                        <div class="col-sm-1" style="background-color:#aaaaaa"></div>
                    </div>
                </th:block>
            </div>
        </div>
        <nav id="month-job-in-year-view-control-panel">
            <div id="right-nav-header" class="sidebar-header" style="background-color: #FF1111">
                <span>YEAR CONTROL PANEL</span>
            </div>
            <form action="#" th:action="@{/schedule/month}" th:object="${clickedMonthJob}" method="post">
                <input type="hidden" th:field="*{id}" id="control-panel-month-job-in-year-view-id"/>
                <div><label>PARENT TYPE: YEAR</label></div>
                <div><label>TYPE: MONTH JOB</label></div>
                <div>
                    <label for="control-panel-month-job-in-year-view-title">TITLE: </label>
                    <input type="text" id="control-panel-month-job-in-year-view-title" th:field="*{title}"/>
                </div>
                <div>
                    <label for="control-panel-month-job-in-year-view-content">CONTENT</label>
                    <textarea class="form-control" id="control-panel-month-job-in-year-view-content" th:field="*{content}"></textarea>
                </div>
                <button>Edit</button>
                <button>Remove</button>
                <button>Add</button>
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </nav>
        <nav id="year-job-in-year-view-control-panel">
            <div id="year-right-nav-header" class="sidebar-header" style="background-color: #FF1111">
                <span>YEAR CONTROL PANEL</span>
            </div>
            <form action="#" th:action="@{/schedule/year}" th:object="${clickedYearJob}" method="post">
                <input type="hidden" th:field="*{id}" id="control-panel-year-job-in-year-view-id"/>
                <div><label>TYPE: YEAR JOB</label></div>
                <div>
                    <label for="control-panel-year-job-in-year-view-title">TITLE: </label>
                    <input type="text" id="control-panel-year-job-in-year-view-title" th:field="*{title}"/>
                </div>
                <div>
                    <label for="control-panel-year-job-in-year-view-content">CONTENT</label>
                    <textarea class="form-control" id="control-panel-year-job-in-year-view-content" th:field="*{content}"></textarea>
                </div>
                <button>Edit</button>
                <button>Remove</button>
                <button>Add</button>
                <button type="submit" class="btn btn-primary">확인</button>
            </form>
        </nav>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javaScript" th:src="@{/js/schedule.js}"></script>
<script th:inline="javascript">
    var mainObjects = [[${yearJobs}]]
    var clickedYearJob = [[${clickedYearJob}]];
     var clickedMonthJob = [[${clickedMonthJob}]];
     var clickedYearJobId = -1;
     var clickedMonthJobId = -1;
</script>