<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head"></head>
<head>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script type="text/javaScript" th:src="@{/js/month_page.js}"></script>
    <script th:inline="javascript">
        var startYear =[[${#dates.year(response.startDate)}]];
        var startMonth =[[${#dates.month(response.startDate)}]];
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
</head>
<body>
<div id="add-month-growth-dialog" title="할일 추가" hidden="hidden">EMPTY</div>
<div class="header-container fullscreen">
    <div th:replace="fragments/common :: login-container"></div>
    <!-- Main Container -->
    <div class="main-container">
        <div class="left-container main-item">
            <!-- Edit Button Container -->
            <div class="edit-btn-container left-item">
                <p class="edit-btn-item header-font"> 1 Month Plans </p>
                <button class="edit-btn-item desire-add-btn btn indigo-btn">목표 추가</button>
            </div>
            <!-- Desire Container -->
            <div class="desire-container left-item">
                <th:block th:each="desireWithMonth : ${response.desireWithMonths}">
                    <div class="desire-item">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${desireWithMonth.desire.title}">Desire</span>
                            </div>
                            <div class="card-body">
                                <div class="card-item">
                                    <a href="#" class="btn indigo-small-btn"
                                       th:href="@{/desires/form/2(id=${desireWithMonth.desire.id})}">수정</a>
                                    <button class="desire-delete-btn btn indigo-small-btn" th:value="${desireWithMonth.desire.id}">삭제
                                    </button>
                                    <button class="month-add-btn btn indigo-small-btn" th:value="${desireWithMonth.desire.id}">할일 추가
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <!-- Job Container -->
        <div class="job-container main-item">
            <!-- Job Navigation Container -->
            <div class="job-nav-container job-item" style="height=200px;">
                <div class="move-arrow-div">
                    <button class="month-left-arrow move-arrow btn indigo-btn"><</button>
                </div>
                <th:block th:each="timeHeader : ${response.timeHeaders}">
                    <div class="job-nav-item header-font">
                        <p th:text="${timeHeader}"></p>
                    </div>
                </th:block>
                <div class="move-arrow-div">
                    <button class="month-right-arrow move-arrow btn indigo-btn">></button>
                </div>
            </div>
            <!-- Job Content Container -->
            <div class="job-content-container job-item">
                <th:block th:each="desireWithMonth : ${response.desireWithMonths}">
                    <div class="row row-container job-content-item">
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                        <th:block th:each="month :${desireWithMonth.months}">
                            <div class="row-item" th:classappend="${month.title != ''} ? cell-exist">
                                <div class="card">
                                    <div class="card-header">
                                        <span th:text="${month.title}">MONTH JOB</span>
                                    </div>
                                    <div th:if="${month.title != ''}" class="card-body">
                                        <a href="#" class="btn indigo-small-btn card-item"
                                           th:href="@{/months/form(desireId=${desireWithMonth.desire.id}, jobId=${month.id})}">수정</a>
                                        <button class="month-delete-btn btn indigo-small-btn" th:value="${month.id}">삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
