<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="schedule.css" th:href="@{/css/schedule.css}"/>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div id="left-nav-header" class="sidbar-header" style="background-color: #FF1111">
                <span>Decade</span>
            </div>
            <th:block th:each="decadeJob : ${decadeJobs}">
                <div th:id="'left-nav-row-' + ${decadeJob.id}" style="border: 1px solid black">
                    <span>Decade named </span><span th:text="${decadeJob.title}"></span>
                </div>
            </th:block>
        </nav>
        <div id="schedule-content" class="container">
            <div id="time-navigator-row" class="row" style="height: 10vh">
                <div class="col-sm-1" style="background-color:#BBF9F6">
                    <button type="button" id="sidebarCollapse">
                        <span> T
                        </span>
                    </button>
                    <button type="button" id="leftMoveDecade">
                        <span>
                            < </span>
                    </button>
                </div>
                <th:block th:each="decade: ${#numbers.sequence(1, 5)}">
                    <div class="col-sm-2" style="background-color:#42F26B">
                        <span th:text="${2000 + (decade - 1) * 10}"></span><span>s</span>
                    </div>
                </th:block>
                <div class="col-sm-1" style="background-color:#D5F9F6">
                    <button type="button" id="rightMoveDecade">
                        <span> > </span>
                    </button>
                </div>
            </div>
            <div id="job-rows">
                <th:block th:each="decadeJob : ${decadeJobs}">
                    <div th:id="'content-row-' + ${decadeJob.id}" class="row" style="height: 10vh;background-color: #3355dd">
                        <div class="col-sm-1" style="background-color:#aaaaaa"></div>
                        <th:block th:each="yearJob: ${decadeJob.yearJobs}">
                            <div class="col-sm-2" style="background-color:#bbbbbb">
                                <span th:text="${yearJob.title}"></span>
                            </div>
                        </th:block>
                        <div class="col-sm-1" style="background-color:#aaaaaa"></div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javaScript" th:src="@{/js/schedule.js}"></script>
<script th:inline="javascript">
    var mainObjects = [[${decadeJobs}]]
</script>