<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="decade_new.css" th:href="@{/css/decade_new.css}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<head>
    <script type="text/javaScript" th:src="@{/js/year_page.js}"></script>
    <script th:inline="javascript">
        var startYear =[[${#dates.year(response.startDate)}]];
    </script>
</head>
<body>
<div class="header-container fullscreen">
    <div th:replace="fragments/common :: login-container"></div>
    <!-- Main Container -->
    <div class="main-container">
        <div class="left-container main-item">
            <!-- Edit Button Container -->
            <div class="edit-btn-container left-item">
                <p class="edit-btn-item header-font"> 1 Year Plans </p>
                <button class="edit-btn-item desire-add-btn btn indigo-btn">목표 추가</button>
            </div>
            <!-- Desire Container -->
            <div class="desire-container left-item">
                <th:block th:each="desireWithYear : ${response.desireWithYears}">
                    <div class="desire-item">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${desireWithYear.desire.title}">Desire</span>
                            </div>
                            <div class="card-body">
                                <div class="card-item">
                                    <a href="#" class="btn indigo-small-btn"
                                       th:href="@{/desires/form/1(id=${desireWithYear.desire.id})}">수정</a>
                                    <button class="desire-delete-btn btn indigo-small-btn" th:value="${desireWithYear.desire.id}">삭제
                                    </button>
                                    <button class="year-add-btn btn indigo-small-btn" th:value="${desireWithYear.desire.id}">할일 추가
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
        <!-- Job Container -->
        <div class="job-container main-item">
            <!-- Job Navigation Container -->
            <div class="job-nav-container job-item" style="height=200px;">
                <div class="move-arrow-div">
                    <button class="year-left-arrow move-arrow btn indigo-btn"><</button>
                </div>
                <th:block th:each="timeHeader : ${response.timeHeaders}">
                    <div class="job-nav-item header-font">
                        <p th:text="${timeHeader}"></p>
                    </div>
                </th:block>
                <div class="move-arrow-div">
                    <button class="year-right-arrow move-arrow btn indigo-btn">></button>
                </div>
            </div>
            <!-- Job Content Container -->
            <div class="job-content-container job-item">
                <th:block th:each="desireWithYear : ${response.desireWithYears}">
                    <div class="row row-container job-content-item">
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                        <th:block th:each="year :${desireWithYear.years}">
                            <div class="row-item" th:classappend="${year.title != ''} ? cell-exist">
                                <div class="card">
                                    <div class="card-header">
                                        <span th:text="${year.title}">YEAR JOB</span>
                                    </div>
                                    <div th:if="${year.title != ''}" class="card-body">
                                        <a href="#" class="btn indigo-small-btn card-item"
                                           th:href="@{/years/form(desireId=${desireWithYear.desire.id}, jobId=${year.id})}">수정</a>
                                        <button class="year-delete-btn btn indigo-small-btn" th:value="${year.id}">삭제
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <div class="empty-arrow-div">
                            <p></p>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
