.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

input, select, textarea{
    color: #000000;
}

.container {
    width: 100%;
}

.row {
    border: 1px solid gray;
}

.col-sm-1 {
    border: 1px solid gray;
    height: 100%;
}

.col-sm-2 {
    border: 1px solid gray;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    background: gray;
}

#sidebarCollapse {
    height: 50%;
    background-color: green;
}

#controlPanelCollapse {
    height: 50%;
    background-color: green;
}

#grid-container {
    height: 500px;
    background-color: skyblue;
}

.control-panel-button {
    width: 250px;
}

.control-panel-dropdown-menu {
    width: 250px;
}

.vertical-center {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#sidebar {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#control-panel {
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#control-panel.active {
    //margin-right: -250px;
    min-width: 0px;
    max-width: 0px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media(max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }

    #control-panel {
        margin-right: 0;
    }

    #control-panel.active {
        margin-right: 250px;
    }
}